doctype 5
html
    head
        script(data-main='js/boot', type='text/javascript', src='/js/lib/require.js')
        link(type='text/css', rel='stylesheet', href='/css/style.css')
        title Jhat-Easy to chat with you. 
    body
        div#content
            h1 Jhat
