<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<h1>Your name is :<%= name %></h1>		
		<h1>Your name is :<%= global %></h1>		
		<h2>Your class is:<%= klass %></h2>		
		<h3>Your id is:<%= id %></h3>		
	</body>
</html>
