doctype 5
html
  head
    title JHat
    link(rel='stylesheet', href='/css/structure.css')
    link(rel='stylesheet', href='/css/layout.css')
  body
      div#nav
          h1 
            a(href='/') JHat
            span.gray Easy to chat with you
            ul.slide
                li.item khhhshhh
                li.fashion khhhshhh
      div#wrapper.radius  
      div#footer  
         | Author: @
         a(href='http://weibo.com/khhhshhh?wvr=5&') khhhshhh 
