doctype 5
html
  head
    title JHat
    link(rel='stylesheet', href='/css/structure.css')
    link(rel='stylesheet', href='/css/layout.css')
  body
      div#nav
          h1 
            a.head(href='/') Jhat
            span.gray Easy to chat with you
            ul.slide.radius
                li.item: a khhhshhh
                li.fashion.first: a(href='/profile') Profile
                li.fashion.last: a(href='/signout') Signout
      div#wrapper.radius  
      div#footer  
         | Author: @
         a(href='http://weibo.com/khhhshhh?wvr=5&') khhhshhh 
